.gallery-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}


.gallery img {
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.dots-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.dot.active {
    background-color: #333;
}

.gallery {
    height: 500px; /* Adjust as needed */
}

.nav-button {
    background-color: #your-color;
    padding: 20px;
}

.dot {
    background-color: #your-color;
    width: 15px;
    height: 15px;
}